.header{
    display: flex;
    height: 4rem;
    padding: 0.8em 1em;
    background: black;
    align-items: center;
    width: 100%;
}

.img{
    width: 40px;
}

.logo{
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.title{
    color: white;    
}

.input{
    font-size: 1.5rem;
    flex-basis: 100%;
    outline: 0;
}

.button{
    width: 48px;
}

.searchImg{
    width: 100%;
    
}
