.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.img{
    width: 5vw;
}

.title{
    font-size: 1.25rem;
    font-weight: 700;
}


.searchImg{
    width: 20px;
}
